* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    display: flex;
    flex-wrap: wrap;
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
}

section video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

section .navigation {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

section .navigation li {
    list-style: none;
    cursor: pointer;
    margin: 0 10px;
    /* border-radius: 3px;
    background: rgb(0, 206, 252); */
    padding: 3px 3px 0;
    opacity: 0.7;
    transition: 0.5s;
}

section .navigation li:hover {
    opacity: 1;
}

section .navigation li img {
    width: 120px;
    transition: 0.3s;
}

section .navigation li img:hover {
    width: 200px;
}

.home {
    display: flex;
    flex-wrap: wrap;
}

.in-flex {
    flex: 1;
    min-width: 250px;
}

.in-flex:first-child{
    flex: 2;
    padding: 25px;
    background-color: aliceblue;
    margin: 20px;
    margin-bottom: 0px;
}

.in-flex ul{
    padding: 25px;
    background-color: aliceblue;
    margin: 20px;
}

